img {
	display: inline-block;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.wrapper {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	padding-top: 15px;
	padding-bottom: 15px;
	background: linear-gradient(180deg, rgb(23, 121, 234) 50%, rgb(243, 243, 19) 50%);
	z-index: 10;
}
.search-form {
	position: relative;
	align-items: center;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	max-width: 1230px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 60px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fff;
}

.info {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-left: -15px;
}

.info-item {
	text-align: center;
	font-size: 10px;
	width: calc(100% / 4 - 14px);
}

.img-thumb {
	width: 100%;
	height: 187px;
}

.photo-link {
	color: black;
	text-decoration: none;
	width: calc(100% / 4 - 14px);
	margin: 7px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	transition: transform, 250ms, linear;
}

.load-more {
	display: block;
	margin: 10px auto;
}

.load-more.is-hidden {
	display: none;
}
.is-visible {
	display: block;
}
